USE [master]
GO
/****** Object:  Database [AutoSphere]    Script Date: 25.03.2023 20:11:26 ******/
CREATE DATABASE [AutoSphere]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutoSphere', FILENAME = N'D:\sqlll123\MSSQL15.SQLEXPRESS01\MSSQL\DATA\AutoSphere.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AutoSphere_log', FILENAME = N'D:\sqlll123\MSSQL15.SQLEXPRESS01\MSSQL\DATA\AutoSphere_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutoSphere].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutoSphere]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 25.03.2023 20:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarID] [int] NOT NULL,
	[Mark] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Year] [int] NULL,
	[CountryID] [int] NULL,
	[Cost] [money] NULL,
	[VIN] [nvarchar](50) NULL,
	[DriveID] [int] NULL,
	[Actuality] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarTests]    Script Date: 25.03.2023 20:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarTests](
	[CarTestId] [int] NOT NULL,
	[CarID] [int] NULL,
	[CarModel] [nvarchar](50) NULL,
	[CarMark] [nvarchar](50) NULL,
	[ClientID] [int] NULL,
	[Cost] [money] NULL,
	[DateOfTest] [date] NULL,
 CONSTRAINT [PK_CarTests] PRIMARY KEY CLUSTERED 
(
	[CarTestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 25.03.2023 20:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[PassNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countrys]    Script Date: 25.03.2023 20:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countrys](
	[CountryID] [int] NOT NULL,
	[CountryCode] [nvarchar](50) NULL,
	[CountryName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Countrys] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dates]    Script Date: 25.03.2023 20:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dates](
	[DateID] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Dates] PRIMARY KEY CLUSTERED 
(
	[DateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drives]    Script Date: 25.03.2023 20:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drives](
	[DriveID] [int] NOT NULL,
	[DriveName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Drives] PRIMARY KEY CLUSTERED 
(
	[DriveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnterHistory]    Script Date: 25.03.2023 20:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnterHistory](
	[EnterID] [int] NOT NULL,
	[UserID] [int] NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_EnterHistory] PRIMARY KEY CLUSTERED 
(
	[EnterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marks]    Script Date: 25.03.2023 20:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marks](
	[MarkID] [int] NOT NULL,
	[MarkName] [nvarchar](50) NULL,
	[CountryID] [int] NULL,
 CONSTRAINT [PK_Marks] PRIMARY KEY CLUSTERED 
(
	[MarkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 25.03.2023 20:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[CarID] [int] NOT NULL,
	[Garanty] [int] NOT NULL,
	[DateOfOrder] [date] NOT NULL,
	[StuffID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
	[ServID] [int] NOT NULL,
	[Sum] [money] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QR-Codes]    Script Date: 25.03.2023 20:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QR-Codes](
	[CodeID] [int] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[OrderID] [int] NULL,
 CONSTRAINT [PK_QR-Codes] PRIMARY KEY CLUSTERED 
(
	[CodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 25.03.2023 20:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 25.03.2023 20:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServID] [int] NOT NULL,
	[ServName] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Cost] [money] NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ServID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 25.03.2023 20:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [int] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[RoleID] [int] NOT NULL,
	[ZoneID] [int] NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestDrive]    Script Date: 25.03.2023 20:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestDrive](
	[TestDriveID] [int] IDENTITY(1,1) NOT NULL,
	[CarID] [int] NULL,
	[Data] [date] NULL,
	[ClientID] [int] NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_TestDrive] PRIMARY KEY CLUSTERED 
(
	[TestDriveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25.03.2023 20:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[RoleID] [int] NOT NULL,
	[ClientID] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zones]    Script Date: 25.03.2023 20:11:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zones](
	[ZoneID] [int] NOT NULL,
	[ZoneName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Zones] PRIMARY KEY CLUSTERED 
(
	[ZoneID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cars] ([CarID], [Mark], [Model], [Color], [Type], [Year], [CountryID], [Cost], [VIN], [DriveID], [Actuality]) VALUES (1, N'Audi', N'A3', N'Серебристый-белый', N'Хэтчбек', 1996, 1, 1200000.0000, N'WMI9QD1UJQSWCQQFK0GA', 1, N'В наличии')
INSERT [dbo].[Cars] ([CarID], [Mark], [Model], [Color], [Type], [Year], [CountryID], [Cost], [VIN], [DriveID], [Actuality]) VALUES (2, N'BMW', N'X5', N'Чёрный', N'Внедорожник', 1999, 1, 1500000.0000, N'WMITXMGCH23NKECPUHKD', 1, N'Под заказ')
INSERT [dbo].[Cars] ([CarID], [Mark], [Model], [Color], [Type], [Year], [CountryID], [Cost], [VIN], [DriveID], [Actuality]) VALUES (3, N'Mercedes-Benz', N'E-Class', N'Чёрный', N'Седан', 1953, 1, 600000.0000, N'WMIOMYXIBPNJDKCYMUIF', 1, N'В наличии')
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientID], [FirstName], [MiddleName], [LastName], [PhoneNumber], [Email], [PassNumber]) VALUES (1, N'Дмитрий', N'Комаров', N'Александрович', N'79858039147', N'casto@mail.ru', N'4623202322')
INSERT [dbo].[Clients] ([ClientID], [FirstName], [MiddleName], [LastName], [PhoneNumber], [Email], [PassNumber]) VALUES (2, N'Андрей', N'Юдин', N'Олегович', N'79119024455', N'yd@mail.ru', N'4616220392')
INSERT [dbo].[Clients] ([ClientID], [FirstName], [MiddleName], [LastName], [PhoneNumber], [Email], [PassNumber]) VALUES (3, N'Алёна', N'Маркова', N'Олеговна', N'79126336766', N'olegovna@mail.ru', N'4616245031')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
INSERT [dbo].[Countrys] ([CountryID], [CountryCode], [CountryName]) VALUES (1, N'GE', N'Germany')
INSERT [dbo].[Countrys] ([CountryID], [CountryCode], [CountryName]) VALUES (2, N'JP', N'Japan')
INSERT [dbo].[Countrys] ([CountryID], [CountryCode], [CountryName]) VALUES (3, N'US', N'United States')
GO
INSERT [dbo].[Dates] ([DateID], [Date]) VALUES (1, CAST(N'2023-06-26' AS Date))
INSERT [dbo].[Dates] ([DateID], [Date]) VALUES (2, CAST(N'2023-06-27' AS Date))
INSERT [dbo].[Dates] ([DateID], [Date]) VALUES (3, CAST(N'2023-06-28' AS Date))
GO
INSERT [dbo].[Drives] ([DriveID], [DriveName]) VALUES (1, N'Передний')
INSERT [dbo].[Drives] ([DriveID], [DriveName]) VALUES (2, N'Задний')
INSERT [dbo].[Drives] ([DriveID], [DriveName]) VALUES (3, N'Полный')
GO
INSERT [dbo].[EnterHistory] ([EnterID], [UserID], [Date]) VALUES (1, 1, CAST(N'2023-03-11' AS Date))
INSERT [dbo].[EnterHistory] ([EnterID], [UserID], [Date]) VALUES (2, 1, CAST(N'2023-03-12' AS Date))
INSERT [dbo].[EnterHistory] ([EnterID], [UserID], [Date]) VALUES (3, 2, CAST(N'2023-03-13' AS Date))
GO
INSERT [dbo].[Marks] ([MarkID], [MarkName], [CountryID]) VALUES (1, N'Audi', 1)
INSERT [dbo].[Marks] ([MarkID], [MarkName], [CountryID]) VALUES (2, N'BMW', 1)
INSERT [dbo].[Marks] ([MarkID], [MarkName], [CountryID]) VALUES (3, N'Mercedes-Benz', 1)
GO
INSERT [dbo].[Orders] ([OrderID], [CarID], [Garanty], [DateOfOrder], [StuffID], [ClientID], [ServID], [Sum]) VALUES (1, 3, 5, CAST(N'2023-03-10' AS Date), 1, 1, 2, 700000.0000)
INSERT [dbo].[Orders] ([OrderID], [CarID], [Garanty], [DateOfOrder], [StuffID], [ClientID], [ServID], [Sum]) VALUES (2, 1, 5, CAST(N'2023-02-09' AS Date), 3, 2, 1, 1000000.0000)
INSERT [dbo].[Orders] ([OrderID], [CarID], [Garanty], [DateOfOrder], [StuffID], [ClientID], [ServID], [Sum]) VALUES (3, 2, 5, CAST(N'2023-01-04' AS Date), 3, 3, 4, 1500000.0000)
GO
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Менеджер')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Консультант')
GO
INSERT [dbo].[Services] ([ServID], [ServName], [Description], [Cost]) VALUES (1, N'кредитование', N'', 3000.0000)
INSERT [dbo].[Services] ([ServID], [ServName], [Description], [Cost]) VALUES (2, N'обмен', N'', 2500.0000)
INSERT [dbo].[Services] ([ServID], [ServName], [Description], [Cost]) VALUES (3, N'гарантийное обслуживание', N'', 3000.0000)
GO
INSERT [dbo].[Staff] ([StaffID], [FirstName], [MiddleName], [LastName], [DateOfBirth], [RoleID], [ZoneID]) VALUES (1, N'Иван', N'Комаров', N'Николаевич', CAST(N'1997-07-17' AS Date), 2, 1)
INSERT [dbo].[Staff] ([StaffID], [FirstName], [MiddleName], [LastName], [DateOfBirth], [RoleID], [ZoneID]) VALUES (2, N'Даниил', N'Козлов', N'Алексеевич', CAST(N'1994-03-29' AS Date), 2, 1)
INSERT [dbo].[Staff] ([StaffID], [FirstName], [MiddleName], [LastName], [DateOfBirth], [RoleID], [ZoneID]) VALUES (3, N'Валентина', N'Морозова', N'Викторовна', CAST(N'1992-12-06' AS Date), 2, 1)
GO
SET IDENTITY_INSERT [dbo].[TestDrive] ON 

INSERT [dbo].[TestDrive] ([TestDriveID], [CarID], [Data], [ClientID], [Price]) VALUES (1002, 2, CAST(N'2023-06-26' AS Date), 1, 7500.0000)
SET IDENTITY_INSERT [dbo].[TestDrive] OFF
GO
INSERT [dbo].[Users] ([UserID], [Login], [Password], [RoleID], [ClientID]) VALUES (1, N'Masaru123', N'pass123', 1, NULL)
INSERT [dbo].[Users] ([UserID], [Login], [Password], [RoleID], [ClientID]) VALUES (2, N'Komarov321', N'komar123', 2, NULL)
INSERT [dbo].[Users] ([UserID], [Login], [Password], [RoleID], [ClientID]) VALUES (3, N'111', N'111', 3, 1)
GO
INSERT [dbo].[Zones] ([ZoneID], [ZoneName]) VALUES (1, N'Торговый зал')
INSERT [dbo].[Zones] ([ZoneID], [ZoneName]) VALUES (2, N'Складское помещение')
INSERT [dbo].[Zones] ([ZoneID], [ZoneName]) VALUES (3, N'Кассовая зона')
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Drives] FOREIGN KEY([DriveID])
REFERENCES [dbo].[Drives] ([DriveID])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Drives]
GO
ALTER TABLE [dbo].[Countrys]  WITH CHECK ADD  CONSTRAINT [FK_Countrys_Cars] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Cars] ([CarID])
GO
ALTER TABLE [dbo].[Countrys] CHECK CONSTRAINT [FK_Countrys_Cars]
GO
ALTER TABLE [dbo].[EnterHistory]  WITH CHECK ADD  CONSTRAINT [FK_EnterHistory_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[EnterHistory] CHECK CONSTRAINT [FK_EnterHistory_Users]
GO
ALTER TABLE [dbo].[Marks]  WITH CHECK ADD  CONSTRAINT [FK_Marks_Countrys] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countrys] ([CountryID])
GO
ALTER TABLE [dbo].[Marks] CHECK CONSTRAINT [FK_Marks_Countrys]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Cars] FOREIGN KEY([CarID])
REFERENCES [dbo].[Cars] ([CarID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Cars]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Clients]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Services] FOREIGN KEY([ServID])
REFERENCES [dbo].[Services] ([ServID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Services]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Staff] FOREIGN KEY([StuffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Staff]
GO
ALTER TABLE [dbo].[QR-Codes]  WITH CHECK ADD  CONSTRAINT [FK_QR-Codes_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[QR-Codes] CHECK CONSTRAINT [FK_QR-Codes_Orders]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Roles]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Zones] FOREIGN KEY([ZoneID])
REFERENCES [dbo].[Zones] ([ZoneID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Zones]
GO
ALTER TABLE [dbo].[TestDrive]  WITH CHECK ADD  CONSTRAINT [FK_TestDrive_Cars] FOREIGN KEY([CarID])
REFERENCES [dbo].[Cars] ([CarID])
GO
ALTER TABLE [dbo].[TestDrive] CHECK CONSTRAINT [FK_TestDrive_Cars]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Clients] ([ClientID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Clients]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
